.footer {
  margin: 0;
  padding-top: 92px;
  padding-bottom: 24px;
}

.footer__copyright {
  font-size: 1rem;
  line-height: 0.8;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 88px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    padding-top: 64px;
  }
}
